application:
    name: ffedit
    site_root: /ffedit
    mode: ReadWrite
    session: Locale
    cache: Distributed
    domain: localhost
    bootstrap: FFEdit_Bootstrap
    locale: 
        current: en-US
        accepted: [en-US, tr-TR]

servers:
    database:
        master: mysql://user:pass@localhost/ffedit?persist
        slave-1:

    cache:
        distributed:
            master: memcached://localhost?persist
            slave: redis://localhost?persist
        locale:
            master: apc://localhost?persist

    session:
        distributed:
            master: memcached://localhost?persist
        locale: 
            master: apc://localhost?persist


friendfeed:
    key: 7041d4bf6942438a903714a51a6524e2 
    secret: 5b98e298ef314c9f84cedff0c8d4a15740adc3cc19834e5f8f10c3e520ea53e8

twitter:
    key: hQBEaNfIFeugTFU9CIIVjg
    secret: 4EqIGfc7dIoePxc9QGwU5oTrmY6tgZeO7e6LwUfI
    callback: http://localhost/phpturk/callback/twitter

