# ToDo Your Routing Settings

list-page: 
    url: /(.+):id/(users|groups):type
    controller: FFEdit_Subscription
    action: list

login:
    url: /login
    controller: FFEdit_Membership
    action: login

logout:
    url: /logout
    controller: FFEdit_Membership
    action: logout

friendfeed-callback:
    url: /callback/(friendfeed):type
    controller: FFEdit_Membership
    action: callback

logout:
    url: /logout
    controller: FFEdit_Membership
    action: logout


# Joy Framework Default Routing Definitions

action:
    url: /(.+):controller/(.+):action 

default-action:
    url: /(.+):controller
    action: index

default-module:
    url: /
    controller: FFEdit_Main
    action: index

