Dahius_Blog:
    theme: iphone
    layout: general
    page: Joy_Page
    roles: []

    actions:
        index:
        list:
            page: HelloWorld_BasePage
            layout: none
        list.widget:
            layout: none


Dahius_Membership:
    theme:
    layout:
    page:
    roles: []

    actions: []

