# Joy Framework Default Routing Definitions

action:
    url: /(.+):module/(.+):action 

default-action:
    url: /(.+):module
    action: index

default-module:
    url: /
    module: notes
    action: index

# ToDo Your Routing Settings

blog:
    url: /blog/(.+):action
    module: Dahius_Blog

username:
    url: /(.+):username/
    module: Dahius_Membership
    action: profile
