drivers:
    template_engine: system.web.view.render.PHPTal
    ormap: system.model.ormaps.Doctrine

render-classes:

; extension: class.namespace

    js: system.web.view.render.PageScript
    locale: system.web.view.render.ScriptLocale
    rss: system.web.view.render.Rss
    json: system.web.view.render.Json
    xml: system.web.view.render.Xml
    yml: system.web.view.render.Yaml
    html: system.web.view.render.Template

