.tags ul {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
margin:1em 0;
padding:0.5em 10px;
text-align:center;
}

.tags li {
display:inline;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}

.tag1 {
font-size:100%;
}


a {
	color: #fff;
	text-decoration: none;
	padding:2px;
}

a.code {
	font-family: Inconsolata, Consolas, "Courier New", Courier;
	font-size: 1.2em;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

a[href="http://ac.tivi.st"] {
background-color:#33CCFF;
}


