#configuration

domain: localhost
secure_domain: secure.localhost
site_root:/joy_press
image_path: /img/
login: user/login
culture:
    locale: tr_TR.UTF-8
    languages: [tr, en]

servers:
    database:
        dsn: mysql://user:pass@localhost/joy_press?persist

    cache:
        master: memcache://user:pass@localhost:11211?persist

