# Joy Framework Default Routing Definitions

action:
    url: /(.+):module/(.+):action/ 

default-action:
    url: /(.+):module/ 
    action: index

default-module:
    url: /
    module: notes
    action: index


# HasanOzgan.com Routing Definitions 

404 not found:
    url: /404-not-found
    module: template
    action: not_found

feed:
    url: /feed
    module: notes
    action: feed

works:
    url: /works
    module: template
    action: works

about:
    url: /about
    module: template
    action: about

