application:
    name: sandbox
    site-root: /sanbox
    mode: ReadWrite
    session: Locale 

servers:
    database:
        master: mysql://user:pass@localhost/db?persist
        slave-1:

    distributed-cache:
        master: memcached://localhost?persist
        redis: redis://localhost?persist

        


